@use "@/styles/variables.scss" as vars;

.btn {
  font-size: 16px;
  background-color: vars.$color_yellow_main !important;
  color: vars.$color_primary !important;
  border-color: transparent !important;
  outline: transparent !important;
  &:hover {
    opacity: 0.8;
  }
}
