@use "@/styles/variables.scss" as vars;

.header {
  width: 100%;
  position: fixed;
  z-index: 9998;
  padding: 0 18rem 0 20px;
  align-items: center;
  height: 70px;
  justify-content: flex-start;
  gap: 10px;
  background-color: vars.$color_header_bg;
  border-bottom: 1px solid vars.$color_second;
  transition: 0.5s;

  &.collapsed {
    padding-right: 6rem;
  }

  .content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .leftSection {
    flex-direction: column;
    gap: 4px;
    margin-left: 12px;

    .welcomeMessage {
      font-size: 14px;
      color: vars.$color_role_name;
    }

    .dateWrapper {
      align-items: center;
      gap: 8px;

      .dateIcon {
        margin-bottom: 2px;
        font-size: 16px;
        color: vars.$color_primary;
      }

      .dateText {
        font-size: 16px;
        color: vars.$color_sidebar_text_inactive;
      }
    }
  }

  .rightSection {
    align-items: center;
    column-gap: 25px;

    .notificationWrapper {
      .notificationButton {
        outline: none;
        background-color: vars.$color_bg_notification;
        border: none;
        border-radius: 8px;
        margin-left: 20px;
        padding: 20px 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: vars.$color_bg_notification;
        }

        svg {
          width: 20px;
          height: 20px;
          color: vars.$color_sidebar_text_inactive;
        }
      }
    }

    .profileContainer {
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 8px;
      padding: 0 10px;

      &:hover {
        background-color: vars.$color_header_bg;
      }
      &:active {
        background-color: vars.$color_header_bg;
      }

      .profileInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-top: 4px;
      }

      .profileName {
        font-size: 18px;
        color: vars.$color_sidebar_text_inactive;
      }

      .profileRole {
        font-size: 13px;
        color: vars.$color_role_name;
        font-weight: bold;
      }

      .dropdownIcon {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        color: vars.$color_dropdown;
      }
    }
  }

  .paddingRight {
    padding-right: 12px;
  }
}

.popupContainer {
  width: 140px;

  .popupNav {
    flex-direction: column;
    width: 100%;

    .popupSubNav {
      cursor: pointer;
      padding: 10px;
      border-radius: 8px;
      transition: 0.3s;
      &:hover {
        background-color: vars.$color_second;
        color: vars.$color_primary;
      }
      &:active {
        background-color: vars.$color_second;
        color: vars.$color_primary;
      }
    }
  }
}
