:root {
  --color-selection: #a8e6a3;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  font-family: "Balsamiq Sans", sans-serif !important;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

:focus-visible {
  outline: transparent !important;
}
::selection {
  background-color: var(--color-selection);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.ant-menu-inline {
  background-color: #fff !important;
  border-inline-end: none !important;
}

.ant-popover-inner {
  padding: 10px !important;
}

.subMenuItems {
  position: relative;
}

.subMenuItems.active .ant-menu-submenu-title,
.subMenuItems .ant-menu-submenu-title:hover {
  color: #20461e !important;
  background-color: #bcd379 !important;
  font-weight: bold;
}
