@use "@/styles/variables.scss" as vars;

@mixin container {
  width: 100%;
  flex-direction: column;
  overflow: hidden;

  .headerWrapper {
    justify-content: space-between;
    align-items: center;
    .sectionLeft {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
    }
    .sectionRight {
      width: 100%;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .table {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;

    .tableText {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}
