// Variables
$color_primary: #20461e;
$color_second: #bcd379;
$color_yellow_main: #fee69c;
$color_bg_main: #d8f0e7;
$color_bg_search: #f4f7fe;
$color_btn_auth: linear-gradient(108deg, #bcd379 0%, #326e2f 100%);
$color_bg_auth: #f8f7f0;


$color_sidebar_text_inactive: #333333;
$color_selected: #555;
$color_selected: #555;
$color_selected_delete: #991919;
$color_selected_bg_delete: #fee2e2;
$color_selected_bg_delete_hover: #fecaca;

$color_logout_text: #d55f5a;
$color_logout_bg_hover: #f0f0f0;
$color_header_bg: #fff;
$color_dropdown: #1a202c;
$color_role_name: #888888;
// $color_bg_notification: #fff7e6;
$color_bg_notification: rgb(244, 247, 254);
// $color_notification: #ffa411;
$color_selected_row: #f0fff0;
$color_bg_navigation_dot: #f0f0f0;
$color_bg_tag_active: #ecfdf3;
$color_tag_active: #027a48;
$color_create_at: #71717a;
$color_bg_tag_owner: #388e3c;
$color_tag_owner: #fff;
$color_bg_tag_employee: #f6f9b5;
$color_tag_employee: #333;

$color_bg_detail: #fff;
$color_divider: #e2e8f0;

$color-text: #2c2c2e;
$color_text_detail: #757575;
