// Variables
$color_primary: #326E2F;
$color_second: #BCD379;
$color_yellow_main: #FEE69C;

$color_sidebar_text_inactive: #333333;
$color_sidebar_icon: #555;

$color_logout_text: #D55F5A;
$color_logout_bg_hover: #F0F0F0;
$color_header_bg: #fff;
$color_dropdown: #1a202c;
$color_role_name: #888888;
// $color_bg_notification: #fff7e6;
$color_bg_notification: rgb(244, 247, 254);
// $color_notification: #ffa411;



$color-background: #fff;
$color-text: #2c2c2e;
$color-border: #a0c4c3;
$color-primary-hover: #429b89;
$color-disabled: #e0e0e0;
$color-hover-bg: #a0c4c3;
$color-light-text: #f1f8e8;
$color-disabled-text: #000;
