// Variables
$color_primary: #326E2F;
$color_second: #BCD379;
$color_sidebar_text_inactive: #000;
$color_logout_text: #D55F5A;
$color_logout_bg_hover: #F0F0F0;



$color-background: #fff;
$color-text: #2c2c2e;
$color-border: #a0c4c3;
$color-primary-hover: #429b89;
$color-disabled: #e0e0e0;
$color-hover-bg: #a0c4c3;
$color-light-text: #f1f8e8;
$color-disabled-text: #000;
