@use "@/styles/variables.scss" as vars;

.forgetpasswordContainer {
  background-color: vars.$color_bg_auth;
  padding: 20px;
  min-height: 100vh;
}

.gifImage {
  mix-blend-mode: multiply;
  width: 100%;
  height: auto;
}

.btn {
  background: vars.$color_btn_auth;
  color: white;
  margin-top: 10px;

  &:hover {
    background: vars.$color_btn_auth !important;
    color: white !important;
    border: transparent !important;
    opacity: 0.8;
  }
}

.ant-form-item-extra {
  text-align: center;
}

.ant-typography-danger {
  color: red;
}

.ant-typography-success {
  color: green;
}

.back {
  display: inline-block;
  color: #1d4e23;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100%;
  text-align: center;

  &:hover {
    color: #1d4e23;
    text-decoration: underline;
  }
}
