/* ForgetPassword.scss */
.forgetpasswordContainer {
    padding: 20px;
    min-height: 100vh;
  }
  
  .gifImage {
    width: 100%;
    height: auto;
  }
  
  
  .btn {
    background: linear-gradient(108deg, #BCD379 0%, #326E2F 100%);
    margin-top: 10px;
    color: white;
  
    &:hover {
        animation-duration: 0s !important;
        background: #cad3af !important;
        color: #326E2F !important;
        border: #326E2F !important;

    }
  }
  
  .ant-form-item-extra {
    text-align: center;
  }
  
  .ant-typography-danger {
    color: red;
  }
  
  .ant-typography-success {
    color: green;
  }

  .back {
    display: inline-block;
    color: #d9d9d9;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 100%;
    text-align: center;
  
    &:hover {
      color: #1d4e23;
      text-decoration: underline;
    }
  }
  
  