@use "@/styles/variables.scss" as vars;

.action_bar_container {
  position: fixed;
  top: 8vh;
  left: 0;
  width: 100%;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;

  .action_bar_content {
    pointer-events: auto;
    max-width: 600px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    animation: slideFromTop 0.3s ease-in-out both;
  }

  .action_bar_content.hide {
    animation: slideOut 0.3s ease-in-out forwards;
  }

  .action_bar_selected {
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    .number_selected_round {
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      margin-right: 10px;
      font-size: 1rem;
      padding-inline: 1rem;
      color: vars.$color_primary;
      background-color: vars.$color_second;

      .number {
        margin-top: 2px;
      }
    }

    .text_selected {
      margin-top: 4px;
    }
  }

  .action_bar_btn_delete {
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: transparent;
    border-radius: 2rem;
    padding-inline: 1.4rem;
    color: vars.$color_selected_delete;
    background-color: vars.$color_selected_bg_delete;
    &:hover {
      background-color: vars.$color_selected_bg_delete_hover !important;
      color: vars.$color_selected_delete !important;
      border: transparent !important;
    }
  }

  .divider_container {
    justify-content: center;
    align-items: center;
    .divider {
      border-color: black;
      height: 60%;
      margin: 0 16px;
    }
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
